@charset "UTF-8";

body{
    background-color: rgb(148, 223, 148);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(7, 104, 7);

}

#principal{
    color:white;
    text-align: center;
    background-color: rgb(7, 104, 7);
}

h2{
    color: rgb(37, 151, 37);
}

.basico{
    color: rgb(37, 151, 37);
    font-weight: bold;
}

.intermediario{
    color: rgb(151, 37, 37);
}

.avancado{
    color: rgb(143, 151, 37);
}

.destaque{
    background-color: rgba(185, 185, 52, 0.555);
}
